.menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    gap: 12px;


    .menu-item {
        width: 30%;
        background-color: gray;
        border: 2px solid black;

        .subtitle {
            align-items: center;
            background-color: pink;
            border-bottom: 2px solid black;
            border-left: 2px solid black;
            display: flex;
            float: right;
            width: fit-content;
            padding: 0 10px;
        }
    }
}

body {
    padding: 20px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 991px) {
    .menu-container {
        width: 100%;
        justify-content: space-between;
        .menu-item {
          width: 45%;
          &:last-child {
            width: 100%;
          }
        }
      }
  }
  
  @media screen and (min-width: 767px) {
    .menu-container {
        flex-direction: row;
        .menu-item {
            width: 100%;
        }
    }
  }